.white {
  color: #ffffff;
}

.black {
  color: rgba(0, 0, 0, 0);
}

.red {
  color: #ff0000;
}

.cream {
  color: #fcf0f0;
}

.ilred {
  color: #fc1212;
}

.elred {
  color: #fc2323;
}

.hlred {
  color: #fc3838;
}

.lred {
  color: #fc4e4e;
}

.msred {
  color: #ffdede;
}

.dcred {
  color: #fc7474;
}

.hsred {
  color: #ff8282;
}

.isred {
  color: #fc9797;
}

.esred {
  color: #ffa8a8;
}

.ssred {
  color: #ffbdbd;
}

.exred {
  color: #ffcccc;
}

.msred {
  color: #ffdede;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0);
}

.bg-red {
  background-color: #ff0000;
}

.bg-cream {
  background-color: #fcf0f0;
}

.bg-ilred {
  background-color: #fc1212;
}

.bg-elred {
  background-color: #fc2323;
}

.bg-hlred {
  background-color: #fc3838;
}

.bg-lred {
  background-color: #fc4e4e;
}

.bg-msred {
  background-color: #ffdede;
}

.bg-dcred {
  background-color: #fc7474;
}

.bg-hsred {
  background-color: #ff8282;
}

.bg-isred {
  background-color: #fc9797;
}

.bg-esred {
  background-color: #ffa8a8;
}

.bg-ssred {
  background-color: #ffbdbd;
}

.bg-exred {
  background-color: #ffcccc;
}

.bg-msred {
  background-color: #ffdede;
}

.text-white {
  background-color: #ffffff;
}

.text-black {
  background-color: rgba(0, 0, 0, 0);
}

.text-red {
  background-color: #ff0000;
}

.text-cream {
  background-color: #fcf0f0;
}

.text-ilred {
  background-color: #fc1212;
}

.text-elred {
  background-color: #fc2323;
}

.text-hlred {
  background-color: #fc3838;
}

.text-lred {
  background-color: #fc4e4e;
}

.text-msred {
  background-color: #ffdede;
}

.text-dcred {
  background-color: #fc7474;
}

.text-hsred {
  background-color: #ff8282;
}

.text-isred {
  background-color: #fc9797;
}

.text-esred {
  background-color: #ffa8a8;
}

.text-ssred {
  background-color: #ffbdbd;
}

.text-exred {
  background-color: #ffcccc;
}

.text-msred {
  background-color: #ffdede;
}