// Incredibly Light
// Extremely Light 
// Highly Light
// Light
// Minimally Saturated
// Decently Saturated
// Highly Saturated
// Incredibly Saturated
// Extraodinarily Saturated
// Super Saturated
// Extremely Saturated
// Miraculously Saturated

$white: #ffffff;
$black: #00000000;
$red:   #ff0000;
$orange: #ff8000;
// $cream: #fcf0f0;

$ilred: #fc1212;
$elred: #fc2323;
$hlred: #fc3838;
$lred:  #fc4e4e;
$minsred: #fc6565;
$dcred: #fc7474;
$hsred: #ff8282;
$isred: #fc9797;
$esred: #ffa8a8;
$ssred: #ffbdbd;
$exred: #ffcccc;
$msred: #ffdede;

$reds: (
    'red': $red,
    'ilred': $ilred,
    'elred': $elred,
    'hlred': $hlred,
    'lred': $lred,
    'minsred': $minsred,
    'dcred': $dcred,
    'hsred': $hsred,
    'isred': $isred,
    'esred': $esred,
    'ssred': $ssred,
    'exred': $exred,
    'msred': $msred 
);

$elorange: #fd860e;
$hlorange: #ff8f1f;
$lorange: #ff962d;
$minsorange: #ffa142;
$dsorange: #ffa953;
$hsorange: #ffb163;
$isorange: #ffb469;
$esorange: #ffc489;
$ssorange: #ffcb98;
$exorange: #ffdbb7;
$msorange: #ffe0c2;

$oranges: (
    'orange': $orange,
    'elorange': $elorange,
    'hlorange': $hlorange,
    'lorange': $lorange,
    'minsorange': $minsorange,
    'dsorange': $dsorange,
    'hsorange': $hsorange,
    'isorange': $isorange,
    'esorange': $esorange,
    'ssorange': $ssorange,
    'exorange': $exorange,
    'msorange': $msorange
);

@each $key, $val in $reds {
    .text-#{$key} {
        color: #{$val};
    }

    .bg-#{$key} {
        background-color: #{$val};
    }

    .hover-#{$key} {
        &:hover {
            color: #{$val};
        }
    }

    .border-#{$key} {
        border-color: #{$val};
    }
}

@each $key, $val in $oranges {
    .text-#{$key} {
        color: #{$val};
    }

    .bg-#{$key} {
        background-color: #{$val};
    }

    .hover-#{$key} {
        &:hover {
            color: #{$val};
        }
    }

    .border-#{$key} {
        border-color: #{$val};
    }
}