// Incredibly Light
// Extremely Light 
// Highly Light
// Light
// Minimally Saturated
// Decently Saturated
// Highly Saturated
// Incredibly Saturated
// Extraodinarily Saturated
// Super Saturated
// Extremely Saturated
// Miraculously Saturated

$white: #ffffff;
$black: #00000000;
$red:   #ff0000;
$cream: #fcf0f0;
$ilred: #fc1212;
$elred: #fc2323;
$hlred: #fc3838;
$lred:  #fc4e4e;
$minsred: #fc6565;
$dcred: #fc7474;
$hsred: #ff8282;
$isred: #fc9797;
$esred: #ffa8a8;
$ssred: #ffbdbd;
$exred: #ffcccc;
$msred: #ffdede;

$ilorange: #ffffff;
$elorange: #ffffff;
$hlorange: #ffffff;
$lorange: #ffffff;
$msorange: #ffffff;
$dsorange: #ffffff;
$hsorange: #ffffff;
$isorange: #ffffff;
$esorange: #ffffff;
$ssorange: #ffffff;
$exorange: #ffffff;



.white { color: $white; }

.black { color: $black; }

.red { color: $red; }

.cream { color: $cream; }

.ilred { color: $ilred; }

.elred { color: $elred; }

.hlred { color: $hlred; }

.lred { color: $lred; }

.minsred { color: $msred; }

.dcred { color: $dcred }

.hsred { color: $hsred }

.isred { color: $isred; }

.esred { color: $esred; }

.ssred { color: $ssred; }

.exred { color: $exred; }

.msred { color: $msred; }

.bg-white { background-color: $white; }

.bg-black { background-color: $black; }

.bg-red { background-color: $red; }

.bg-cream { background-color: $cream; }

.bg-ilred { background-color: $ilred; }

.bg-elred { background-color: $elred; }

.bg-hlred { background-color: $hlred; }

.bg-lred { background-color: $lred; }

.bg-minsred { background-color: $minsred; }

.bg-dcred { background-color: $dcred }

.bg-hsred { background-color: $hsred }

.bg-isred { background-color: $isred; }

.bg-esred { background-color: $esred; }

.bg-ssred { background-color: $ssred; }

.bg-exred { background-color: $exred; }

.bg-msred { background-color: $msred; }

.text-white { background-color: $white; }

.text-black { background-color: $black; }

.text-red { background-color: $red; }

.text-cream { background-color: $cream; }

.text-ilred { background-color: $ilred; }

.text-elred { background-color: $elred; }

.text-hlred { background-color: $hlred; }

.text-lred { background-color: $lred; }

.text-minsred { background-color: $minsred; }

.text-dcred { background-color: $dcred }

.text-hsred { background-color: $hsred }

.text-isred { background-color: $isred; }

.text-esred { background-color: $esred; }

.text-ssred { background-color: $ssred; }

.text-exred { background-color: $exred; }

.text-msred { background-color: $msred; }


