// Incredibly Light
// Extremely Light 
// Highly Light
// Light
// Minimally Saturated
// Decently Saturated
// Highly Saturated
// Incredibly Saturated
// Extraodinarily Saturated
// Super Saturated
// Extremely Saturated

$white: #ffffff;
$black: #00000000;
$red: #ff0000;
$ilred: #fc1212;
$elred: #fc2323;
$hlred: #fc3838;
$lred:  #fc4e4e;
$msred: #fc6565;
$dcred: #fc7474;
$hsred: #ff8282;
$isred: #fc9797;
$esred: #ffa8a8;
$ssred: #ffbdbd;








