$itr: 025, 050, 075, 100, 150, 200, 300, 400, 500, 600, 700, 750, 800, 900, 950, 1000, 2000, 4000, 6000, 8000, 10000, 12000, 14000, 16000, 18000, 20000, 22000, 24000;

.no-transition {
    transition-property: none;
}

@each $ite in $itr {
    .transition-delay-#{$ite} {
        transition-delay: #{$ite}
    }

    .transition-length-#{$ite} {
        transition-duration: #{$ite * 1000};
    }

    
}